.table {
    box-shadow: 5px 5px 25px 5px gray !important;
    border-radius: 30px !important;
    margin: 20px !important;
    position: relative !important;
    bottom: 50px !important;
    margin-right: 20px;
    /* width: 400px; */
    /* border: 2px solid gray; */
  }
  .userscard {
    box-shadow: 5px 5px 25px 5px gray !important;
    border-radius: 30px !important;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
  }
  .groupicon {
    width: 300px !important;
    font-size: 80px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* padding: 1px !important; */
    margin: 1px auto !important;
  }
  .calendar {
    box-shadow: 5px 5px 25px 5px gray !important;
    /* margin-right: 200px; */
  }
  .coursecard {
    box-shadow: 5px 5px 25px 5px gray !important;
    border-radius: 30px !important;
    margin: 10% !important;
    /* margin-right: 10%; */
    padding-bottom: 40px !important;
  }
  .courseicon {
    width: auto !important;
    font-size: 80px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1px !important;
    margin: 1px auto !important;
  }
  .piechart {
    padding: 10px !important;
    margin: 20px !important;
    /* box-shadow: 5px 5px 25px 5px gray !important;
      position: relative !important;
      left: 300px !important; */
  }
  /* .second-grid {
    margin-left: 10% !important;
    margin-right: 10% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  } */